include ../partials/get-header

header.page-header
  .container
    .row
      .col-sm-12
        h1.page-title
          - esc_html_e( 'wp-boilerplate' )

.container
  #primary.row.content-area
    main#main.site-main.col-sm-8
      include ../partials/the-loop

    .col-sm-4
      - get_sidebar()
      - dynamic_sidebar('sidebar-2')

include ../partials/get-footer