:php
  /*
    Template Name: Home Page
  */

include ../partials/get-header

include ../partials/sections/hero
include ../partials/sections/welcome
include ../partials/sections/posts

include ../partials/get-footer