- if ( !is_active_sidebar( 'sidebar-1' )) return

aside#secondary.widget-area
  aside.widget
    h3 About
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus voluptas quae impedit nam hic perferendis voluptatibus labore dolorem mollitia recusandae voluptatum veniam asperiores, eveniet aut aliquid, nisi facere sed ducimus!
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia saepe quo iste recusandae non rem veritatis, obcaecati explicabo minus necessitatibus.

  - dynamic_sidebar( 'sidebar-1' )