section.no-results.not-found
  header.page-header
    h2.page-title
      - esc_html_e('Nothing Found')
  .page-content
    - if ( is_home() && current_user_can( 'publish_posts') ) :
    p
      - printf( wp_kses( __( 'Ready to publish your first post? <a href="%1$s">Get started here</a>.' ), array( 'a' => array( 'href' => array() ) ) ), esc_url( admin_url( 'post-new.php' ) ) )

    - elseif ( is_search() ) :
    p
      - esc_html_e( 'Sorry, but nothing matched your search terms. Please try again with some different keywords.' )
    - get_search_form()

    - else :
    p
      - esc_html_e( 'It seems we can&rsquo;t find what you&rsquo;re looking for. Perhaps searching can help.' )
    - get_search_form()

    - endif